/* CUSTOM FONTS */
@font-face {
    font-family: A;
    src: url("/public/fonts/Amiri-Bold.ttf");
    font-weight: 900;
}
@font-face {
    font-family: A;
    src: url("/public/fonts/Amiri-BoldItalic.ttf");
    font-weight: 800;
}
@font-face {
    font-family: A;
    src: url("/public/fonts/Amiri-Italic.ttf");
    font-weight: 600;
}
@font-face {
    font-family: A;
    src: url("/public/fonts/Amiri-Regular.ttf");
    font-weight: 700;
}
/* ||CUSTOM FONTS ||*/

